server:
  port: ${PORT:4098}

management:
  health:
    defaults:
      enabled: true
  endpoint:
    health:
      enabled: true
      cache:
        time-to-live: 5s
      show-details: "always"
  security:
    enabled: true
  endpoints:
    health:
      sensitive: true
    web:
      base-path: /
      exposure:
        include: 'health'

security:
  anonymousPaths:
    - "/"
    - "/health/**"
    - "/health"
    - "/actuator/**"
    - "/loggers/**"
    - "/am/role-assignments/fetchFlagStatus"
    - "/swagger-ui.html"
    - "/swagger-resources/**"
    - "/v2/api-docs"
    - "/webjars/springfox-swagger-ui/**"
    - "/search/**"
    - "/csrf"
    - "/error"
    - "/favicon.ico"
  authorisedRoles:
  authorisedServices: ${AM_ORG_ROLE_MAPPING_S2S_AUTHORISED_SERVICES:am_org_role_mapping_service,am_role_assignment_service}

spring:
  application:
    name: Organisation Role Mapping Service
  main:
    allow-bean-definition-overriding: true
  jackson:
    default-property-inclusion: NON_NULL
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
  flyway.enabled: ${ENABLE_DB_MIGRATE:true}
  flyway.locations: classpath:db/migration
  datasource:
    url: jdbc:postgresql://${ORG_ROLE_MAPPING_DB_HOST:localhost}:${ORG_ROLE_MAPPING_DB_PORT:5451}/${ORG_ROLE_MAPPING_DB_NAME:org_role_mapping}${ORG_ROLE_MAPPING_DB_OPTIONS:?stringtype=unspecified}
    username: ${ORG_ROLE_MAPPING_DB_USERNAME:}
    password: ${ORG_ROLE_MAPPING_DB_PASSWORD:}
    properties:
      charSet: UTFh-8
    hikari:
      maximumPoolSize: 10
      poolName: AMHikariCP
      maxLifetime: 90000
      connectionTimeout: 10000
      keepAliveTime: 60000
  security:
    oauth2:
      client:
        provider:
          oidc:
            issuer-uri: ${OPEN_ID_API_BASE_URI:https://idam-web-public.aat.platform.hmcts.net/o}
        registration:
          oidc:
            client-id: microservicekey-am-role-assignment-service
            client-secret: ${AM_ROLE_ASSIGNMENT_SERVICE_SECRET:}
  cache:
    type: ${ENABLE_CACHE:}
    cache-names: token
    caffeine:
      spec: maximumSize=50,expireAfterWrite=120s
oidc.issuer: ${OIDC_ISSUER_URL:https://forgerock-am.service.core-compute-idam-aat.internal:8443/openam/oauth2/hmcts}

### dependency configuration
idam:
  s2s-auth:
    # AAAAAAAAAAAAAAAA
    totp_secret: ${AM_ORG_ROLE_MAPPING_SERVICE_SECRET:}
    microservice: am_org_role_mapping_service
    url: ${IDAM_S2S_URL:http://localhost:4502}
  s2s-authorised:
    services: ${ROLE_ASSIGNMENT_S2S_AUTHORISED_SERVICES:am_role_assignment_service,am_org_role_mapping_service,am_role_assignment_refresh_batch}
  api.url: ${IDAM_USER_URL:http://localhost:5000}
  client:
    id: ${ORM_IDAM_CLIENT_ID:am_docker}
    secret: ${ORG_ROLE_MAPPING_IDAM_CLIENT_SECRET:}
    redirect_uri: ${ORG_ROLE_MAPPING_IDAM_REDIRECT_URI:http://localhost:4096/oauth2redirect}
    admin:
      userId: ${ORG_ROLE_MAPPING_IDAM_ADMIN_USERID:}
      secret: ${ORG_ROLE_MAPPING_IDAM_ADMIN_PASSWORD:}
      scope: ${ORG_ROLE_MAPPING_IDAM_ADMIN_SCOPE:openid profile roles authorities}

testS2S:
  api:
    url: "/testS2SAuthorization"
integrationTest:
  api:
    url: "/"

feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000
        loggerLevel: BASIC
      crdclient:
        url: ${CASE_WORKER_REF_APP_URL:http://localhost:8095}
      roleAssignmentApp:
        url: ${ROLE_ASSIGNMENT_APP_URL:http://localhost:4096}
      jrdClient:
        url: ${JUDICIAL_REF_APP_URL:http://localhost:8091}


swaggerUrl: "${AM_ORG_ROLE_MAPPING_SWAGGER_AM_URL:localhost:4098}"
OrgRoleMappingUrl: ${TEST_URL:http://localhost:4098}
roleAssignmentAppUrl: ${ROLE_ASSIGNMENT_APP_URL:http://localhost:4096}
amqp:
  host: ${AMQP_HOST:test}
  sharedAccessKeyName: ${AMQP_SHARED_ACCESS_KEY_NAME:test}
  crd:
    sharedAccessKeyValue: ${AMQP_CRD_SHARED_ACCESS_KEY_VALUE:test}
    topic: ${CRD_TOPIC_NAME:test}
    subscription: ${CRD_SUBSCRIPTION_NAME:test}
  jrd:
    sharedAccessKeyValue: ${AMQP_JRD_SHARED_ACCESS_KEY_VALUE:test}
    topic: ${JRD_TOPIC_NAME:test}
    subscription: ${JRD_SUBSCRIPTION_NAME:test}

launchdarkly:
  sdk:
    key: ${LD_SDK_KEY:}
    environment: ${LAUNCH_DARKLY_ENV:local}
    user: am-${LAUNCH_DARKLY_ENV:local}
refresh:
  Job:
    update: ${REFRESH_JOB:}
    pageSize: ${REFRESH_JOB_PAGE_SIZE:400}
    sortDirection: ${REFRESH_JOB_SORT_DIR:ASC}
    sortColumn: ${REFRESH_JOB_SORT_COL:}

dbFeature:
  flags:
    enable: ${DB_FEATURE_FLAG_ENABLE:}
    disable: ${DB_FEATURE_FLAG_DISABLE:}
logging.level.uk.gov.hmcts: ${APPLICATION_LOGGING_LEVEL:DEBUG}