apiVersion: v2
appVersion: "1.0"
description: A Helm chart for AM Organisation Role Mapping Service
name: am-org-role-mapping-service
home: https://github.com/hmcts/am-org-role-mapping-service
version: 0.0.70
maintainers:
  - name: Access Management Team
dependencies:
  - name: java
    version: 5.2.1
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
  - name: servicebus
    version: 1.0.7
    repository: https://hmctspublic.azurecr.io/helm/v1/repo/
    condition: orm.servicebus.enabled
  - name: am-role-assignment-service
    version: 0.0.80
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: orm.ras.enabled
  - name: am-judicial-booking-service
    version: 0.0.63
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: orm.jbs.enabled
