apiVersion: v2
appVersion: "1.0"
description: A Helm chart for AM Organisation Role Mapping Service
name: am-org-role-mapping-service
home: https://github.com/hmcts/am-org-role-mapping-service
version: 0.0.19
maintainers:
  - name: Access Management Team
dependencies:
  - name: java
    version: 3.4.5
    repository: '@hmctspublic'
  - name: servicebus
    version: 0.3.0
    repository: https://hmctspublic.azurecr.io/helm/v1/repo/
    condition: servicebus.enabled