apiVersion: v2
appVersion: "1.0"
description: A Helm chart for AM Organisation Role Mapping Service
name: am-org-role-mapping-service
home: https://github.com/hmcts/am-org-role-mapping-service
version: 0.0.71
maintainers:
  - name: Access Management Team
dependencies:
  - name: java
    version: 5.3.0
    repository: 'oci://hmctspublic.azurecr.io/helm'
  - name: servicebus
    version: 1.1.0
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: orm.servicebus.enabled
  - name: am-role-assignment-service
    version: 0.0.81
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: orm.ras.enabled
  - name: am-judicial-booking-service
    version: 0.0.64
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: orm.jbs.enabled
