java:
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  keyVaults:
    am:
      secrets:
        - AppInsightsInstrumentationKey
        - am-org-role-mapping-service-s2s-secret
        - role-assignment-service-LD-SDK-KEY
        - orm-IDAM-CLIENT-ID
        - orm-IDAM-CLIENT-SECRET
        - role-assignment-service-IDAM-ADMIN-SECRET
        - caseworker-topic-primary-send-listen-shared-access-key
  environment:
    IDAM_S2S_URL: http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    S2S_URL: http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    LAUNCH_DARKLY_ENV: pr
    CASE_WORKER_REF_APP_URL: http://rd-caseworker-ref-api-aat.service.core-compute-aat.internal