java:
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}

  secrets:
    SB_ACCESS_KEY:
      secretRef: am-sb-preview
      key: primaryKey
    SB_CONNECTION_STRING:
      secretRef: am-sb-preview
      key: connectionString

  keyVaults:
    am:
      secrets:
        - app-insights-connection-string
        - am-org-role-mapping-service-s2s-secret
        - role-assignment-service-LD-SDK-KEY
        - orm-IDAM-CLIENT-ID
        - orm-IDAM-CLIENT-SECRET
        - orm-IDAM-ADMIN-SECRET
  environment:
    IDAM_S2S_URL: http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    S2S_URL: http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    CASE_WORKER_REF_APP_URL: http://rd-caseworker-ref-api-aat.service.core-compute-aat.internal
    JUDICIAL_REF_APP_URL: http://rd-judicial-api-aat.service.core-compute-aat.internal
    ROLE_ASSIGNMENT_APP_URL: http://am-role-assignment-service-aat.service.core-compute-aat.internal
    JUDICIAL_BOOKING_APP_URL: http://am-judicial-booking-service-aat.service.core-compute-aat.internal
    LAUNCH_DARKLY_ENV: pr
    AMQP_SHARED_ACCESS_KEY_NAME: RootManageSharedAccessKey
    AMQP_HOST: "am-sb-preview.servicebus.windows.net"
    CRD_SUBSCRIPTION_NAME: "{{ .Release.Name}}-servicebus-rd-caseworker-topic"
    JRD_SUBSCRIPTION_NAME: "{{ .Release.Name}}-servicebus-rd-judicial-topic"
    CRD_TOPIC_NAME: "{{ .Release.Name}}-servicebus-rd-caseworker-topic"
    JRD_TOPIC_NAME: "{{ .Release.Name}}-servicebus-rd-judicial-topic"
    AMQP_CRD_SHARED_ACCESS_KEY_VALUE: "$(SB_ACCESS_KEY)"
    AMQP_JRD_SHARED_ACCESS_KEY_VALUE: "$(SB_ACCESS_KEY)"
    ORG_ROLE_MAPPING_DB_HOST: "{{ .Release.Name }}-postgresql"
    ORG_ROLE_MAPPING_DB_NAME: "{{ .Values.postgresql.auth.database}}"
    ORG_ROLE_MAPPING_DB_USERNAME: "{{ .Values.postgresql.auth.username}}"
    ORG_ROLE_MAPPING_DB_PASSWORD: "{{ .Values.postgresql.auth.password}}"
    ORG_ROLE_MAPPING_DB_PORT: "{{ .Values.postgresql.auth.port}}"
    ORG_ROLE_MAPPING_DB_OPTIONS: "?stringtype=unspecified"
    RUN_LD_ON_STARTUP: true
  postgresql:
    enabled: true
    auth:
      port: 5432

servicebus:
  enabled: true
  resourceGroup: "am-aso-preview-rg"
  sbNamespace: "am"
  setup:
    topics:
      - name: rd-caseworker-topic
        subscriptionNeeded: yes
      - name: rd-judicial-topic
        subscriptionNeeded: yes
